.lista-vagas {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-bottom: 20px;
  margin-top: 20px;

}

.break {
  flex-basis: 100%;
  height: 0;
}

.lista-vagas .card {
  margin: 5px 10px;
  min-height: 450px;
}

.btn {
  margin-left: 7px;
}
